body {
    padding: 15px;
}

label {
   
    color: EAEAEA;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

thead th {
    background-color: #119E39;
    color: white;
}

.table thead th {
   
    border-bottom: 0px solid #dee2e6;
}

.table td, .table th {

    border-top: 0px solid #dee2e6;
}

tbody td {
    background-color: #EEEEEE;
}

tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}